#include<iostream>
using namespace std;
class Method
{
    public:
    int a=5;
    int b=7;

    int c=a+b;
    void display()
    {
        cout<<"The value of c is :"<<c<<endl;
    }
};
    
int main()
{
    Method m;
    m.display();
}

